#itemsSoldTo {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: var(--shadow-bottom);
  .noResultsFound {
    td {
      height: 300px;
      text-align: center !important;
      color: var(--gold);
      font-weight: bold;
      font-size: 20px;
      background-color: rgba(212, 175, 55, 0.05);
    }
  }
}
